
<h5>SPRINT 1</h5>
<hr/>

    <% jobs.each do |job| %>
      <%= link_to edit_job_path(job), class: '' do %>
      <ul class="menu expanded job-list">
          <li class="circle-icon"><p class=" fa fa-check-circle-o"></p></li>
          <li><p><%= job.title %></p></li>
          <li><p><%= job.description %></p></li>
          <li><p><%= job.humanize_status %></p></li>
          <li></li>
          <li><%= button_to 'Delete Job', { controller: :jobs , action: 'destroy', id: job.id },
                                         method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <% end %>
    <% end %>
</table>
