<h1>Jobs List</h1>

<table>
  <thead>
    <tr>
      <th width="200">Job Title</th>
      <th>Job Description</th>
      <th>Job status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.each do |job| %>
      <tr>
          <td><p><%= job.title %></p></td>
          <td><p><%= job.description %></p></td>
          <td><p><%= job.status %></p></td>
          <td><%= link_to 'Update', edit_job_path(job) %></td>
          <td><%= button_to 'Delete Job', { controller: :jobs , action: 'destroy', id: job.id },
                                         method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
