<div class="clear fixed row">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="row">
  <div class="medium-6 medium-offset-3 columns main-page">
    <h2 class="text-center">Welcome aboard!</h2>
    <h2 class="text-center">You have logged in Successfully</h2>
  </div>
</div>
<div class="row">
  <div class="medium-4 medium-offset-4 columns main-page">
    <%= link_to 'Get started, create new project', new_project_path , class: 'button expanded secondary hollow fa fa-plus-circle'%>
  </div>
</div>
</div>

<table>
  <thead>
    <tr>
      <th width="200">Project Title</th>
      <th>Project Description</th>
      <th width="150">Update</th>
      <th width="150">Show Details </th>
      <th width="150">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
          <td><p><%= project.title %></p></td>
          <td><p><%= project.description %></p></td>
          <td><%= link_to 'Update', edit_project_path(project) %></td>
          <td><%= link_to 'Show Details', project_path(project) %></td>
          <td><%= button_to 'Delete Project', { action: 'destroy', id: project.id },
                                         method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
