<div class="project-section">
  <div class="medium-6 columns main-column-left">
    <div class="row">
      <div class="card columns main-column-row">
        <h2><%= @project.title %> stories</h2>
        <p><%= @project.description %></p>
        <%= link_to 'Add taks', '#' ,class: 'button hollow expanded  create-job text-left fa fa-plus-circle' %>
        <%= render partial: 'display_jobs_table' ,locals: {jobs: @project.jobs}%>
      </div>
    </div>
  </div>

  <div class="medium-6 columns main-column-right job-tasks">
    <div class="row">
      <%= render 'create_job_form' %>
    </div>
  </div>
</div>
